* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-color: hsl(30, 54%, 90%);
  --section-color: hsl(0, 0%, 100%);
  --para-size: 1rem;
  --heading-font: "Young Serif", serif;
  --body-font: "Outfit", sans-serif;
}

body {
  background-color: var(--background-color);
  font-family: var(--body-font);
  font-size: var(--para-size);
}

h1,
h2 {
  font-family: var(--heading-font);
  font-weight: 400;
}

p {
  font-size: var(--para-size);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 43.75em;
  justify-self: center;
  align-items: center;
  margin: 1.5625em auto;
  background-color: var(--section-color);
  padding: 1.5625em;
  border-radius: 1.25em;
  gap: 0.3125em;
  min-height: auto;
}
.container img {
  max-width: 100%;
  border-radius: 1.25em;
}

.container-block {
  display: flex;
  flex-direction: column;
  padding: 1.25em;
  background-color: hsl(330, 100%, 98%);
  border-radius: 0.9375em;
  margin: 1.875em 0.625em;
}

.container-block ul li {
  padding: 0.625em;
  inline-size: 0.3125em;
  writing-mode: horizontal-tb;
}

.container-block h3 {
  color: hsl(332, 51%, 32%);
  font-weight: 800;
}

.container-block ul li,
ul.list li,
ol.list li {
  padding: 0.625em 1.75em;
}

.container-block ul li::marker {
  color: hsl(332, 51%, 32%);
}

.container-ingredients {
  margin: 1.875em 0.625em;
}

ul,
ol {
  padding-left: 1.5625em;
}

.container-instructions {
  margin: 1.875em 0.625em;
}

.subtitle {
  color: hsl(14, 45%, 36%);
  font-weight: 800;
}

ul.list li::marker,
ol.list li::marker {
  color: hsl(14, 45%, 36%);
  font-size: 20px;
  font-weight: 800;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  border-bottom: 1px solid #ddd;
  padding: 0.625em 1.5625em;
}

.container-table {
  margin: 1.875em 0.625em;
}
.container-table h2 + p {
  margin: 0.625em;
}

td:nth-child(2) {
  color: hsl(14, 45%, 36%);
  font-weight: 800;
}

/* footer */
.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 25em) {
  body {
    background-color: var(--section-color);
  }
  .container {
    padding: 0;
  }
  .container img {
    width: 100%;
    border-radius: 0;
  }
  .container-block,
  .container-ingredients,
  .container-instructions,
  .container-table,
  h1,
  p {
    margin: 1.75em;
  }
}
